

{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/1ee23388a8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>yassinoDev</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
   
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            .YassinoDev test
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About Us</a></li>
                            <li class="scroll-to-section"><a href="#projects">Portfolio</a></li>
                            {% if username %}
                            <li class="scroll-to-section"><a href="{% url 'my_projects' %}">My Projects</a></li>
                            {% endif %} 
                            <li>
                                <a href="#testimonials">Team</a>
                                
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                            {% if username %}
                              <li class="scroll-to-section"><a href=""><i class="fa-solid fa-user fa-lg"></i>     {{ username }}</a> </li>
                              <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                            </form>
                            {% else %}
                              <li class="scroll-to-section"><a href="{% url 'login' %}">Connecter</a></li>
                            {% endif %} 
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/slide-01.jpg' %}" alt="">
                <div class="text-content">
                  <h3>Welcome To ARTYPROD</h3>
                  <h5>Graphic design</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                  {% if username %}
                     <a href="{% url 'demande_project' %}" class="main-filled-button">Get It Now</a>
                     {% else %}
                     <a href="#" class="main-filled-button">Get It Now</a>

                  {% endif %}
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/slide-02.jpg' %}" alt="">
                <div class="text-content">
                  <h3>Integrated Marketing Media</h3>
                  <h5>Web Design</h5>
                  <a href="#" class="main-stroked-button">Read More</a>
                  {% if username %}
                     <a href="{% url 'demande_project' %}" class="main-filled-button">Get It Now</a>
                     {% else %}
                     <a href="#" class="main-filled-button">Get It Now</a>

                  {% endif %}
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/slide-03.jpg' %}" alt="">
                <div class="text-content">
                  <h3>High Performance</h3>
                  <h5>Animation 3D</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                  {% if username %}
                     <a href="{% url 'demande_project' %}" class="main-filled-button">Get It Now</a>
                     {% else %}
                     <a href="#" class="main-filled-button">Get It Now</a>

                  {% endif %}
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We work with top societe and startups</h2>
                        </div>
                        <div class="row">
                            {% for Par in Partenaire %}

                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <a href="{{Par.Partenaire_url}}" target="_blank"><img src="{{Par.logo.url}}" alt="">
                                    <h4>{{Par.nom}}</h4></a>
                                    
                                </div>
                            </div>
                            
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>Bienvenue chez ArtyProd, une agence de design graphique, production audiovisuelle et conception 3D. Nous sommes une équipe de professionnels créatifs et passionnés qui sont dévoués à fournir des services de qualité supérieure à nos clients. Notre objectif est de créer des designs visuels exceptionnels qui aident nos clients à se démarquer et à atteindre leurs objectifs commerciaux.

                            Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leurs objectifs, afin de produire des designs personnalisés qui répondent à leurs exigences. Que vous ayez besoin d'un nouveau logo, d'un site web élégant, d'une vidéo publicitaire captivante ou d'une conception 3D époustouflante, nous avons l'expertise et les compétences nécessaires pour fournir des solutions créatives et efficaces.
                            
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        
        <div class="container">
            
            <div class="row">
                
                {% for serv in service %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{{serv.img.url}}" alt="" height="100" width="100" >
                        </div>
                        <div class="features-content">
                            <h4>{{serv.ServiceName}}</h4>
                            
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h6>Subscribe Newsletters</h6>
                        <h2>Don’t miss this chance!</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>Vivamus suscipit blandit nibh, in cursus mi. Proin vel blandit metus, et auctor elit. Vivamus tincidunt tristique convallis. Ut nec odio vel arcu euismod semper nec ac sem.</p>
                        <div class="subscribe-form">
                            <form id="subscribe-now" action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                      <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Enter your email..." required="">
                                      </fieldset>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                      <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Subscribe Now</button>
                                      </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Projects Area Starts ***** -->
    
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Our Projects</h6>
                    <h2>Some of our latest projects</h2>
                </div>
                
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        {% for serv in service %}
                        <li data-filter=".{{serv.tag}}">{{serv.ServiceName}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-9">
               
                <div class="filters-content">
                    
                    <div class="row grid">
                        {% for pro in Project %}
                            {% if pro.type %}
                                {% for t in pro.type.all %}
                                    {% if t.tag %}
                       
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all {{ pro.get_tags|join:' ' }}">
                          <div class="item">
                            {% if username %}
                             <a href="{% url 'project_detail' project_id=pro.id %}" ><img src="{{pro.image.url}}" alt="" height="250" width="100"></a> 
                             {% else %}
                             <a href="{% url 'login' %}?next={{ request.path }}&project_id={{pro.id}}"><img src="{{pro.image.url}}" alt="" height="250" width="100"></a>
                             {% endif %}
                          </div>
                        </div>
                                    {% endif %}
                                {% endfor %}
                             {% endif %}
                        
                        {% endfor %}
                    </div>
                    
                   
                </div>
                
            </div>
            
        </div>
      </div>
    </section>
    
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Team</h6>
                        <h2>young and talented members</h2>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        {% for per in Pers %}
                        <div class="item author-item">
                            
                            <div class="member-thumb">
                                <img src="{{per.photo.url}}" alt="" height="350px">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{{per.fcb_url}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="{{per.file_cv.url}}" target="_blank"><i class="fa-solid fa-paperclip"></i></a></li>
                                            <li><a href="{{per.github_url}}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                                            <li><a href="{{per.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>{{per.nom}}</h4>
                            <span>{{per.post}}</span>
                        </div> 
                         {% endfor %}
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{% static 'images/contact-info-01.png' %}" alt="">010-020-0860</li>
                            <li><img src="{% static 'images/contact-info-02.png' %}" alt="">achref.dhifaoui00@gmail.com</li>
                            <li><img src="{% static 'images/contact-info-03.png' %}" alt="">www.ArtyProd.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name *" >
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Your Phone" >
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" placeholder="Your Email *" >
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon" >Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </br>
                                
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="map-section map-style-9">
        <div class="map-container">
          <object style="border:0; height: 500px; width: 100%;"
            data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.93577286084!2d10.772155!3d34.7572107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d2c1f3c2991f%3A0xab7f8817c80e9617!2sISET%20Sfax!5e0!3m2!1sfr!2stn!4v1683335587480!5m2!1sfr!2stn"></object>
        </div>
        </div>
      </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Breezed Co., Ltd. 
                        
                       created by ACHREF DHIFAOUI</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    <script src="{% static 'js/slick.js' %}"></script> 
    <script src="{% static 'js/lightbox.js' %}"></script> 
    <script src="{% static 'js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
    <script>
        $(document).on('submit','#contact',function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'index' %}",
                data:{
                    name: $("#name").val(),
                    email: $("#email").val(),
                    message: $("#message").val(),
                    subject: $("#subject").val(),
                    phone: $("#phone").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

                },
                success: function(data){
                    $("#name").val("");
                    $("#email").val("");
                    $("#message").val("");
                    $("#subject").val("");
                    $("#phone").val("");
                   $('#contactmess').html(data);
                }

                
            })
            
            alert('message envoyer avec succes');
            
        
        
        });
      </script>
     
  </body>
</html>
